# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, https://lkubb.github.io/saltext-formula/
# as well as the configured default sources in `parameters/map_jinja.yaml`.
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_yabai > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Force the usage of XDG directories for this user.
      xdg: true

        # Sync this user's config from a dotfiles repo.
        # The available paths and their priority can be found in the
        # rendered `config/sync.sls` file.
        # Note that for user matching to work, you need to install `saltext-formula`.
        # Overview in descending priority:
        # salt://dotconfig/id/<minion_id>/users/<user>/yabai
        # salt://dotconfig/id/<minion_id>/yabai
        # salt://dotconfig/roles/<each custom `role` config>/users/yabai
        # salt://dotconfig/roles/<each custom `role` config>/yabai
        # salt://dotconfig/os_family/<os_family>/users/<user>/yabai
        # salt://dotconfig/os_family/<os_family>/yabai
        # salt://dotconfig/users/<user>/yabai
        # salt://dotconfig/default/yabai
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_yabai:users`.
        # Set this to `false` to disable configuration for this user.
      yabai:
          # Whether the Yabai service should be installed and enabled
          # for this user. Defaults to true.
        autostart: true
          # On MacOS >=11 (Big Sur), the scripting addon needs to be
          # loaded with root privileges. This sets up passwordless sudo
          # for this user to be able to autoload it in yabairc with
          # `sudo yabai --load-sa`.
          # To prevent local privilege escalation, the sha256 hexdigest
          # is embedded into the sudoers file. It is updated only when
          # he package state reports changes in order to avoid embedding
          # a replacing binary's hash automatically. That also means if
          # brew upgraded yabai otherwise, you will need to ensure the
          # correct hash is embedded manually.
          # See https://github.com/koekeishiya/yabai/issues/1318
        pwless_sudo: true
          # $PATH set in the user's service file.
          # Defaults to the user's $PATH.
        service_pathenv: null
          # https://github.com/FelixKratz/SketchyBar
        sketchybar:
            # Install sbarlua
            # https://github.com/FelixKratz/SbarLua
          lua_mod: false

tool_yabai:

    # Specify an explicit version (works on most Linux distributions) or
    # keep the packages updated to their latest version on subsequent runs
    # by leaving version empty or setting it to 'latest'
    # (again for Linux, brew does that anyways).
  version: latest

    # Install from HEAD instead of tagged release.
  dev_version: false
    # https://github.com/FelixKratz/SketchyBar
  sketchybar:
      # Install sketchybar
    install: false

    # Default formula configuration for all users.
  defaults:
    pwless_sudo: default value for all users

    # User configuration can also be specified here in
    # `tool_yabai:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      yabai:
        pwless_sudo: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
######################################################################
  lookup:
    pkg:
      name: koekeishiya/formulae/yabai
    rootgroup: root
    paths:
      confdir: '.config/yabai'
      conffile: 'yabairc'
      xdg_dirname: 'yabai'
      xdg_conffile: 'yabairc'
    sketchybar:
      config:
        dir: .config/sketchybar
        file: sketchybarrc
      pkg:
        name: FelixKratz/formulae/sketchybar
      sbarlua:
        repo: https://github.com/FelixKratz/SbarLua
        src: .cache/sketchybar_lua_build
        target: .local/share/sketchybar_lua
      service:
        name: com.felixkratz.sketchybar

######################################################################
# The following settings influence which source paths are considered
# when managing files (TOFS pattern).
# See docs/TOFS_pattern.rst and https://lkubb.github.io/saltext-formula/
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
