# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: koekeishiya/formulae/yabai
    paths:
      confdir: '.config/yabai'
      conffile: 'yabairc'
      xdg_dirname: 'yabai'
      xdg_conffile: 'yabairc'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
    service:
      name: yabai
    brew_prefix: '{{ salt["cmd.run_stdout"]("brew --prefix") }}'
    brew_user: '{{ salt["cmd.run_stdout"]("id -n -u $(stat -f \"%u\" \"$(brew --prefix)\"/bin/brew)",
      python_shell=True) }}'
    m1: {{ 'Apple' in grains['cpu_model'] }}
    sip: {{ not salt['cmd.retcode']('csrutil status | grep "System Integrity Protection status" | grep "enabled"', python_shell=True, ignore_retcode=True) }}
...
