# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      manager: brew
      name: koekeishiya/formulae/yabai
    paths:
      confdir: '.config/yabai'
      conffile: 'yabairc'
      xdg_dirname: 'yabai'
      xdg_conffile: 'yabairc'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
    service:
      name: com.koekeishiya.yabai
    bin: '{{ salt["cmd.run_stdout"]("brew --prefix") | path_join("bin", "yabai") }}'
    console_user: '{{ salt["cmd.run_stdout"]('id -n -u $(stat -f "%u" /dev/console)', python_shell=True) }}'
    m1: {{ "Apple" in grains.cpu_model }}
    sip: {{ not salt["cmd.retcode"]("csrutil status | grep 'System Integrity Protection status' | grep enabled", python_shell=true, ignore_retcode=true) }}
    sketchybar:
      app_font:
        source: https://github.com/kvndrsslr/sketchybar-app-font/releases/download/latest/sketchybar-app-font.ttf  # yamllint disable-line rule:line-length
        target: Library/Fonts/sketchybar-app-font.ttf
      bin: '{{ salt["cmd.run_stdout"]("brew --prefix") | path_join("bin", "sketchybar") }}'
      config:
        dir: .config/sketchybar
        file: sketchybarrc
      pkg:
        name: FelixKratz/formulae/sketchybar
      sbarlua:
        repo: https://github.com/FelixKratz/SbarLua
        src: .cache/sketchybar_lua_build
        target: .local/share/sketchybar_lua
      service:
        name: com.felixkratz.sketchybar
  dev_version: false
  extra_pkgs: []
  sketchybar:
    install: false
  tofs:
    files_switch:
      - G@id|U@users
      - id
      - C@roles|U@users
      - roles
      - G@os_family|U@users
      - os_family
      - U@users
...
